*
{
	font-family: "century gothic";
}

header 
{
	background-color: #f33a21;
	color: #ffffff;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

header:div
{
	flex: 1;
}

#airtime
{
	font-weight: bold;
	font-size: large;
}

#disconnect
{
	color: #ffffff;

	background: transparent;

	border: none;
}

#disconnect:hover
{
	cursor: pointer;
}

body 
{
	margin: 0;
}

.table
{
	display: flex;
	align-items: center;
	justify-content: space-around;
}


#home, body, ::placeholder
{
	text-align: center;
}

#home input
{
	width: 25%;
}

h1
{
	margin: 0;
}

table
{
	border-collapse: collapse;

	width: 80%;
}

@media screen and (min-width: 640px) {
	::placeholder {
		visibility: hidden;
	}
}

@media screen and (max-width: 640px) {
	.loginLabel {
		display: none;
	}
	#home input {
		width: 40%;
	}
}

.details td, .details th
{
	border: none;

	background-color: yellow;

}


.details
{
	display: none;
}

tbody tr:hover td
{
	background-color: #5DF3F7;

	
	cursor: pointer;
}

#stamping tbody tr:nth-child(odd)
{
	background-color: #E2DCDD;
}

td, th
{
	border: 1px solid black;
	
	text-align: center;
}

#situation th
{
	text-align: left;
}

